@model Reflect2.Models.Product

@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal text-center center-block ">
        <h4>
            <span class="bold">Product Name:</span> @Model.Name
            <span class="bold">Product ID:</span> @Model.ProductID
        </h4>
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ProductID)

        <div id="div_page1" class="col-xs-4">
            @{Html.RenderPartial("Product1", Model);}
        </div>

        <div id="div_page2" class="col-xs-4 d-none">
            @{Html.RenderPartial("Product2", Model);}
        </div>

        <div id="div_page3" class="col-xs-4 d-none">
            @{Html.RenderPartial("Product3", Model);}
        </div>

        <div style="clear:both;"></div>
        <div class="col-xs-12">
            @Html.ActionLink("Page 1", "page1", null, new { onclick = "return ShowPage('1')" }) |
            @Html.ActionLink("Page 2", "page1", null, new { onclick = "return ShowPage('2')" }) |
            @Html.ActionLink("Page 3", "page1", null, new { onclick = "return ShowPage('3')" })
        </div>

        <div style="clear:both; margin-bottom:.5em;"></div>
        <div class="col-xs-12">
            <input type="submit" value="Save Updates" class="btn btn-default btn-primary" />
        </div>

    </div>
}

@section scripts{
    <script>
        $(document).ready(function () {
            console.log("ready to rock and roll....");
        });

        function ShowPage(page_no) {
            console.log("showing page" + page_no);
            switch (page_no) {
                case "2":
                    $("#div_page1").addClass("d-none");
                    $("#div_page2").removeClass('d-none');
                    $("#div_page3").addClass("d-none");
                    break;
                case "3":
                    $("#div_page1").addClass("d-none");
                    $("#div_page2").addClass("d-none");
                    $("#div_page3").removeClass("d-none");
                    break;
                default:
                    $("#div_page1").removeClass("d-none");
                    $("#div_page2").addClass("d-none");
                    $("#div_page3").addClass("d-none");
                    break;
            }
            return false;
        };

        function AjaxPost() {
            console.log("AjaxPost");
            $.ajax({
                    type: "GET",
                    url: '@Url.Action("ManageAccounts", "Account")',
                    contentType: "application/json; charset=utf-8",
                    data: { 'para1': val1, 'para2': val2 },
                    dataType: "json",
                    success: function (cities) {
                        console.log("cancel delete");
                    }
                });
        }

    </script>
}


